.case-study-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  gap: 60px;

  &__herocase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 224px;
    }
    .overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 1140px;
      border: 3px solid $smoky-black;
      background: $floral-white;
      border-radius: 10px;
      padding: 48px 90px;
      box-shadow: 1px 1px 0px 0px $smoky-black, 2px 2px 0px 0px $smoky-black,
        3px 3px 0px 0px $smoky-black, 4px 4px 0px 0px $smoky-black,
        5px 5px 0px 0px $smoky-black;
      backdrop-filter: blur(41.5px);
    }
  }
  &__design-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-shrink: 0;
    border-bottom: 3px solid $smoky-black;
    border-top: 3px solid $smoky-black;
    box-shadow: none;
    background-color: $floral-white;
    p {
      width: 740px;
    }
    .h3 {
      color: $smoky-black;
      font-family: Inter;
      font-size: 13.33px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 135.034% */
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      list-style: none;
      gap: 11.18px;
      li {
        display: flex;
        width: 37px;
        height: 37px;
        padding: 8.15px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 6.624px;
        background: $color-white;

        .skill-icon {
          display: flex;
          width: 37px;
          height: 37px;
          padding: 8.15px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 6.624px;
          background: $color-white;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    .sub-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 24px;
      h2,
      p {
        width: 740px;
      }
      h2 {
        text-align: center;
      }
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          list-style: none;
          gap: 24px;
          li {
          }
        }
      }

      .mobile-screen-port-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 740px;
        gap: 24px;
        .screen-img {
          width: 235px;
        }
      }
      .img1,
      .video-case {
        width: 996px;
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 1199px) {
  .case-study-single {
    padding-top: 110px;
    gap: 40px;

    &__herocase {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15px;
      padding-right: 15px;
      img {
        width: 224px;
      }
      .overview {
        width: 100%;
        padding: 48px 15px;

        p {
        }
      }
    }
    &__design-process {
      gap: 16px;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;

      ul {
        flex-wrap: wrap;

        li {
        }
      }
    }
    &__content {
      gap: 40px;
      .sub-content {
        gap: 24px;
        padding-right: 15px;
        padding-left: 15px;
        h2,
        p {
          width: 100%;
        }
        h2 {
          text-align: center;
        }
        .list {
          ul {
            li {
              p {
              }
            }
          }
        }
        p {
        }
        .mobile-screen-port-col {
          flex-direction: column;

          width: 100%;
          gap: 24px;
          .screen-img {
            width: 100%;
          }
          p {
          }
        }
        .img1 {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .case-study-single {
    padding-top: 110px;
    gap: 40px;

    &__herocase {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15px;
      padding-right: 15px;
      img {
        width: 224px;
      }
      .overview {
        width: 100%;
        padding: 48px 15px;

        p {
        }
      }
    }
    &__design-process {
      gap: 16px;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;

      ul {
        flex-wrap: wrap;

        li {
        }
      }
    }
    &__content {
      gap: 40px;
      .sub-content {
        gap: 24px;
        padding-right: 15px;
        padding-left: 15px;
        h2,
        p {
          width: 100%;
        }
        h2 {
          text-align: center;
        }
        .list {
          ul {
            li {
              p {
              }
            }
          }
        }
        p {
        }
        .mobile-screen-port-col {
          flex-direction: column;

          width: 100%;
          gap: 24px;
          .screen-img {
            width: 100%;
          }
          p {
          }
        }
        .img1 {
          width: 100%;
        }
      }
    }
  }
}
