.hero {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-top: 110px;
  padding-bottom: -80px;
  gap: 32px;
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    // padding-top: 110px;
    img {
      width: 94px;
    }
    .hello {
      color: $smoky-black;
      text-align: center;
      font-family: Inter;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  &__content {
    width: 800px;
    transform: scale(0.95);
  }
  &__img {
    width: 100%;
    margin-bottom: -80px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .hero {
    margin-bottom: 40px;
    gap: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero {
    margin-bottom: 40px;
    gap: 32px;
  }
}

@media (min-width: 766px) and (max-width: 991px) {
  .hero {
    margin-bottom: 40px;
    gap: 32px;
    &__avatar {
      display: flex;
      gap: 24px;

      img {
        width: 94px;
      }
      .hello {
      }
    }
    &__content {
      width: 90%;
      transform: scale(0.93);
    }
    &__img {
      display: block;
      width: 100%;
      margin-top: -60px;
      margin-bottom: -80px;
    }
  }
}

@media (min-width: 561px) and (max-width: 768px) {
  .hero {
    margin-bottom: 40px;
    gap: 32px;
    &__avatar {
      display: flex;
      gap: 24px;

      img {
        width: 94px;
      }
      .hello {
      }
    }
    &__content {
      width: 75%;
      transform: scale(0.93);
    }
    &__img {
      display: block;
      width: 100%;
      margin-top: -60px;
      margin-bottom: -80px;
    }
  }
}
@media (min-width: 412px) and (max-width: 560px) {
  .hero {
    margin-bottom: 40px;
    gap: 32px;
    &__avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      // padding-top: 110px;
      img {
        width: 94px;
      }
      .hello {
      }
    }
    &__content {
      width: 95%;
      transform: scale(0.93);
    }
    &__img {
      display: none;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 375px) and (max-width: 411px) {
  .hero {
    padding-bottom: -80px;
    gap: 32px;
    &__avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      // padding-top: 110px;
      img {
        width: 94px;
      }
      .hello {
      }
    }
    &__content {
      width: 95%;
      transform: scale(0.93);
    }
    &__img {
      display: none;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 375px) {
  .hero {
    padding-bottom: -80px;
    gap: 32px;
    &__avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      // padding-top: 110px;
      img {
        width: 94px;
      }
      .hello {
      }
    }
    &__content {
      width: 95%;
      transform: scale(0.93);
    }
    &__img {
      display: none;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}
