.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $defaut-font-size;

  //Para que o quadro fique na diagonal e o conteúdo não
  //temos esta função abaixo e outras configuraçoes abaixo//[Seting diagona ***********]
  transform: skew(-12deg);

  & > * {
    transform: skew(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    //esta função abaixo faz o circulo se basear no meio do shape considerando as medias de X e Y
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    //[Seting diagona ***********]
    transform: translateX(-3rem) skew(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    filter: blur(0px);
    transition: all 0.5s;
    -webkit-filter: blur(0px) brightness(1);
    filter: blur(0px) brightness(1);
    transform: translateX(-4rem) scale(1.4);

    //O "backface-visibility: hidden;" é para diminur o balanço na hora da transição
    backface-visibility: hidden;
  }

  &:hover &__img {
    -webkit-filter: blur(3px) brightness(0.8);
    filter: blur(3px) brightness(0.8);
    transform: translateX(-4rem) scale(1);
  }

  &__text {
    //[Seting diagona ***********]
    transform: skew(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    //O "backface-visibility: hidden;" é para diminur o balanço na hora da transição
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
