.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 40px;
  &__mini-title {
    color: $smoky-black;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 135.034% */
    text-align: center;
    padding-bottom: 32px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 11.18px;
    li {
      display: flex;
      width: 37px;
      height: 37px;
      padding: 8.15px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 6.624px;
      background: $color-white;

      .skill-icon {
        display: flex;
        width: 37px;
        height: 37px;
        padding: 8.15px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 6.624px;
        background: $color-white;
      }
    }
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
}

@media (min-width: 412px) and (max-width: 560px) {
  .skills {
    padding-top: 0px;
    &__mini-title {
    }
    ul {
      width: 85%;
    }
  }
}

@media (min-width: 375px) and (max-width: 411px) {
  .skills {
    padding-top: 32px;
    &__mini-title {
    }
    ul {
      width: 90%;
      li {
        .skill-icon {
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 32px;
    &__mini-title {
    }
    ul {
      width: 100%;
      li {
        .skill-icon {
        }
      }
    }
  }
}
