header {
  position: fixed;
  width: 100%;
  transition: all ease-in-out 0.3s;
  .desktop {
    background: transparent;
    width: 100%;
    .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      transition: all ease-in-out 0.3s;
      transform-origin: top;
      .waLogo {
        display: flex;
        align-items: center;
        img {
          cursor: pointer;
          width: 60px;
        }
      }
      .nav-list {
        display: flex;
        align-items: center;
        ul {
          display: flex;
          justify-content: center;
          list-style: none;
          .nav-item {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            display: inline-block;
            padding: 0 20px;
            .item-link {
              text-decoration: none;
              color: $smoky-black;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
      .ctas {
        display: flex;
        align-items: center;
        gap: 2.2rem;
        .cta {
          transition: all 0.3s ease 0s;
          &:hover {
            opacity: 0.8;
          }
          button {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            color: $smoky-black;
            display: inline-block;
            text-decoration: none;
            border-bottom: 2px solid $smoky-black;
            padding: 0.7rem 2.3rem;
            transition: all 0.2s;
            border-radius: 3.2rem;
            border: 0.2rem solid $smoky-black;
            background: $color-white;
            box-shadow: 1px 1px 0px 0px $smoky-black,
              2px 2px 0px 0px $smoky-black, 3px 3px 0px 0px $smoky-black;
            &:hover {
              background-color: $calamansi;
              color: $smoky-black;
              box-shadow: 1px 1px 0px 0px $smoky-black,
                1px 1px 0px 0px $smoky-black, 1px 1px 0px 0px $smoky-black;
              transform: translateY(2px);
            }
            &:active {
              transform: translateY(0px);
            }
          }
        }
      }
    }
  }
  .menu {
    display: none;
    .mobile-menu {
      // ##########################
      // .open css
      // width: 100%;
      // background-color: $calamansi;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // flex-direction: column;
      // z-index: 10;
      // height: 100vh;
      // ul {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: space-between;
      //   text-align: center;
      //   padding-bottom: 1.6rem;
      //   margin-top: -120px;
      //   gap: 4.8rem;
      //   .nav-item {
      //     font-size: 3.2rem;
      //     font-style: normal;
      //     font-weight: 700;
      //     line-height: 42px;
      //     display: inline-block;
      //     padding: 0 20px;
      //     .item-link {
      //       text-decoration: none;
      //       color: $smoky-black;
      //       &:hover {
      //         opacity: 0.8;
      //       }
      //     }
      //   }
      // }
      // .ctas {
      //   display: flex;
      //   align-items: center;
      //   gap: 2.2rem;
      //   padding-top: 60px;
      //   .cta {
      //     transition: all 0.3s ease 0s;
      //     &:hover {
      //       opacity: 0.8;
      //     }
      //     button {
      //       font-size: 1.6rem;
      //       font-style: normal;
      //       font-weight: 700;
      //       line-height: 28px;
      //       color: $smoky-black;
      //       display: inline-block;
      //       text-decoration: none;
      //       border-bottom: 2px solid $smoky-black;
      //       padding: 0.7rem 2.3rem;
      //       transition: all 0.2s;
      //       border-radius: 3.2rem;
      //       border: 0.2rem solid $smoky-black;
      //       background: $color-white;
      //       box-shadow: 1px 1px 0px 0px $smoky-black,
      //         2px 2px 0px 0px $smoky-black, 3px 3px 0px 0px $smoky-black;
      //       &:hover {
      //         background-color: $calamansi;
      //         color: $smoky-black;
      //         box-shadow: 1px 1px 0px 0px $smoky-black,
      //           1px 1px 0px 0px $smoky-black, 1px 1px 0px 0px $smoky-black;
      //         transform: translateY(2px);
      //       }
      //       &:active {
      //         transform: translateY(0px);
      //       }
      //     }
      //   }
      // }
    }
  }
  &.scrolled {
    z-index: 10;
    background-color: $floral-white;
    border-bottom: $smoky-black 3px solid;
    transition: all ease-in-out 0.3s;
    .desktop {
      .nav-bar {
        padding: 10px 10%;
        transition: all ease-in-out 0.3s;
        transform-origin: top;
      }
    }
  }
}

// .scrolled {
//   .desktop {
//     .nav-bar {
//       padding: 10px 10%;
//       background-color: $floral-white;
//       border-bottom: $smoky-black 3px solid;
//     }
//   }
// }


@keyframes jello {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1, 0.75);
  }
  40% {
    transform: scale(1, 1.25);
  }
  50% {
    transform: scale(1, 0.85);
  }
  65% {
    transform: scale(1, 1.05);
  }
  75% {
    transform: scale(1, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  header {
    .desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      padding-right: 4rem;
      .nav-bar {
        padding: 1.5rem 4rem;
        .waLogo {
          img {
            cursor: pointer;
          }
        }
        .nav-list {
          ul {
            .nav-item {
              display: none;
              .item-link {
                &:hover {
                }
              }
            }
          }
        }
        .ctas {
          display: none;
          .cta {
            &:hover {
            }
            button {
            }
          }
        }
      }
      // .menu {
      //   .mobile-menu {
      //     ul {
      //       display: flex;
      //       flex-direction: column;
      //       text-align: center;
      //       padding-bottom: 1.6rem;
      //       .item {
      //         display: block;
      //         padding-top: 1.2rem;
      //       }
      //     }

      //     .cta {
      //       display: block;
      //       transition: all 0.3s ease 0s;
      //       &:hover {
      //         opacity: 0.8;
      //       }
      //       button {
      //         font-size: 1.6rem;
      //         font-style: normal;
      //         font-weight: 700;
      //         line-height: 28px;
      //         color: $smoky-black;
      //         display: inline-block;
      //         text-decoration: none;
      //         border-bottom: 2px solid $smoky-black;
      //         padding: 0.7rem 2.3rem;
      //         transition: all 0.2s;
      //         border-radius: 3.2rem;
      //         border: 0.2rem solid $smoky-black;
      //         background: $color-white;
      //         box-shadow: 1px 1px 0px 0px $smoky-black,
      //           2px 2px 0px 0px $smoky-black, 3px 3px 0px 0px $smoky-black;
      //         &:hover {
      //           background-color: $calamansi;
      //           color: $smoky-black;
      //           box-shadow: 1px 1px 0px 0px $smoky-black,
      //             1px 1px 0px 0px $smoky-black, 1px 1px 0px 0px $smoky-black;
      //           transform: translateY(2px);
      //         }
      //         &:active {
      //           transform: translateY(0px);
      //         }
      //       }
      //     }
      //   }
      // }
      // muda aqui ao clicar
      .open {
        display: block;
        z-index: 10;

        .mobile-menu {
          // ##########################
          // .open css
          width: 100%;
          background-color: $calamansi;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          height: 100vh;
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            padding-bottom: 1.6rem;
            margin-top: -120px;
            gap: 4.8rem;
            .nav-item {
              font-size: 3.2rem;
              font-style: normal;
              font-weight: 700;
              line-height: 42px;
              display: inline-block;
              padding: 0 20px;
              .item-link {
                text-decoration: none;
                color: $smoky-black;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
          .ctas {
            display: flex;
            align-items: center;
            gap: 2.2rem;
            padding-top: 60px;
            .cta {
              transition: all 0.3s ease 0s;
              &:hover {
                opacity: 0.8;
              }
              button {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                color: $smoky-black;
                display: inline-block;
                text-decoration: none;
                border-bottom: 2px solid $smoky-black;
                padding: 0.7rem 2.3rem;
                transition: all 0.2s;
                border-radius: 3.2rem;
                border: 0.2rem solid $smoky-black;
                background: $color-white;
                box-shadow: 1px 1px 0px 0px $smoky-black,
                  2px 2px 0px 0px $smoky-black, 3px 3px 0px 0px $smoky-black;
                &:hover {
                  background-color: $calamansi;
                  color: $smoky-black;
                  box-shadow: 1px 1px 0px 0px $smoky-black,
                    1px 1px 0px 0px $smoky-black, 1px 1px 0px 0px $smoky-black;
                  transform: translateY(2px);
                }
                &:active {
                  transform: translateY(0px);
                }
              }
            }
          }
        }
      }
      .hamburger {
        display: block;
      }
    }
  }
  .header-mobile {
    background-color: $calamansi;
    align-items: flex-start;
    z-index: 10;
    transition: all ease-in-out 0.3s;
    .nav-bar {
      .waLogo {
        img {
          cursor: pointer;
          width: 50px;
        }
      }
    }
    .hamburger {
      padding-top: 23px;
    }
  }
}

.header-mobile {
  &.scrolled {
    z-index: 10;
    background-color: $floral-white;
    border-bottom: $smoky-black 3px solid;
    transition: all ease-in-out 0.3s;
    .desktop {
      .nav-bar {
        padding: 10px 10%;
      }
    }
  }
}

.open {
  display: block;
  z-index: 10;
  transition: all ease-in-out 0.3s;

  .mobile-menu {
    // ##########################
    // .open css
    width: 100%;
    background-color: $calamansi;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding-bottom: 1.6rem;
      margin-top: -120px;
      gap: 4.8rem;
      .nav-item {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        display: inline-block;
        padding: 0 20px;
        .item-link {
          text-decoration: none;
          color: $smoky-black;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .ctas {
      display: flex;
      align-items: center;
      gap: 2.2rem;
      padding-top: 60px;
      .cta {
        transition: all 0.3s ease 0s;
        &:hover {
          opacity: 0.8;
        }
        button {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          color: $smoky-black;
          display: inline-block;
          text-decoration: none;
          border-bottom: 2px solid $smoky-black;
          padding: 0.7rem 2.3rem;
          transition: all 0.2s;
          border-radius: 3.2rem;
          border: 0.2rem solid $smoky-black;
          background: $color-white;
          box-shadow: 1px 1px 0px 0px $smoky-black, 2px 2px 0px 0px $smoky-black,
            3px 3px 0px 0px $smoky-black;
          &:hover {
            background-color: $calamansi;
            color: $smoky-black;
            box-shadow: 1px 1px 0px 0px $smoky-black,
              1px 1px 0px 0px $smoky-black, 1px 1px 0px 0px $smoky-black;
            transform: translateY(2px);
          }
          &:active {
            transform: translateY(0px);
          }
        }
      }
    }
  }
}
